<section class="about-us">

  <article class="container">
    <div class="about-content">
      <div class="about-image">
        <img src="../../assets/image/Aboute.avif" alt="About Us Image">
      </div>
      <div class="about-text">
        <h2>About Us</h2>
        <p>At our online learning platform, we offer a wide range of courses to help you enhance your skills and achieve your learning goals. Whether you're a beginner or an expert, our courses are designed to cater to learners of all levels. Explore various topics such as programming, data science, design, marketing, and more, taught by industry experts. Our interactive and engaging courses provide hands-on exercises, real-world projects, and quizzes to ensure an immersive learning experience. Join our community of learners and embark on your learning journey today!</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </article>
</section>
