<div class="main_prices">
  <div class="main_container">
    <div class="main_box one">
      <div class="main_header">
        <div class="main_header_head">
          <h1>Basic</h1>
          <p>Website</p>
        </div>
        <h2 class="main_one">$9.99</h2>
        <p>Simple website made in the world's most popular CMS system, WordPress.</p>
      </div>
      <div class="body_prices">
        <div class="main_links">
          <ul>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Unlimited course access</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
          </ul>
        </div>
        <button class="btn-three" routerLink="/addcorse">ORDER NAW</button>
      </div>
    </div>

    <div class="main_box two">

      <div class="main_header">
        <div class="main_header_head">
          <h1>Busness</h1>
          <p>Website</p>
        </div>
        <h2 class="main_two">$9.99</h2>
        <p>Simple website made in the world's most popular CMS system, WordPress.</p>
      </div>
      <div class="body_prices">
        <div class="main_links">
          <ul>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Unlimited course access</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Downloadable course materials</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
          </ul>
        </div>
        <button class="btn-two" routerLink="/addcorse">ORDER NAW</button>
      </div>
    </div>

    <div class="main_box three">
      <div class="main_header">
        <div class="main_header_head">
          <h1>Webshop</h1>
          <p>Website</p>
        </div>
        <h2 class="main_three">$9.99</h2>
        <p>Simple website made in the world's most popular CMS system, WordPress.</p>
      </div>
      <div class="body_prices">
        <div class="main_links">
          <ul>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Unlimited course access</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Downloadable course materials</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Exclusive content</p>
            </li>
            <li>
              <mat-icon>done</mat-icon>
              <p>Priority instructor support</p>
            </li>
          </ul>
        </div>
        <button class="btn-one" routerLink="/addcorse">ORDER NAW</button>
      </div>
    </div>
  </div>
</div>
