<div class="reviews_perant">
  <div class="review_costom">
    <h1>customer store</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>

  <div class="reviews_container">
    <div class="reviews_box">
         <div class="reviews_image">
          <img src="../../assets/image/customer_1.jpeg" alt="Customer 1" class="card-image">
    </div>
    <div class="reviews_content">
      <p>To stay at the leading edge of IT innovation, your team needs to regularly reinvent its skillset. With Udemy Business, I can give my team the space to learn and take the initiative. It means we can produce higher quality work more quickly.</p>
    </div>
    </div>
    <div class="reviews_box">
      <div class="reviews_image">
       <img src="../../assets/image/customer_2.png" alt="Customer 1" class="card-image">
 </div>
 <div class="reviews_content">
   <p>To stay at the leading edge of IT innovation, your team needs to regularly reinvent its skillset. With Udemy Business, I can give my team the space to learn and take the initiative. It means we can produce higher quality work more quickly.</p>
 </div>
 </div>
 <div class="reviews_box">
  <div class="reviews_image">
   <img src="../../assets/image/customer_3.png" alt="Customer 1" class="card-image">
</div>
<div class="reviews_content">
<p>To stay at the leading edge of IT innovation, your team needs to regularly reinvent its skillset. With Udemy Business, I can give my team the space to learn and take the initiative. It means we can produce higher quality work more quickly.</p>
</div>
</div>
  </div>
  <div class="see_more">
    <p>View more customer stories ></p>
  </div>
</div>
