
<section class="panner-section">
  <div class="before"></div>
  <div class="colection">
      <img src="assets/image/panner.avif">
  <div class="panner_content">
    <h1>How learners like you are achieving their goals</h1>
    <p>Thousands of courses to help you succeed in your goals — at work and in life. Log in to see savings through June 7.
      learn courses helped me freshen up on my product manager skills and land a job at Facebook! Thanks guys,
      learn courses helped me freshen up on my product manager skills and land a job at Facebook! Thanks guys :)
    </p>
    <button>
      <mat-icon>person</mat-icon>
      <p>Courses</p>
    </button>
  </div>
  </div>

</section>
