<div class="Trusted_perant">
  <div class="trusted_content">
    <h1>Trusted by over 13,400 great teams</h1>
    <p>Leading companies use the same courses to help employees keep their skills fresh.

    </p>
  </div>
  <div class="Trusted_container">

          <div class="Trusted_image">
      <img src="../../assets/image/Trusted_1.svg" alt="">
    </div>
    <div class="Trusted_image">
      <img src="../../assets/image/Trusted_2.svg" alt="">
    </div>
    <div class="Trusted_image">
      <img src="../../assets/image/Trusted_3.svg" alt="">
    </div>
    <div class="Trusted_image">
      <img src="../../assets/image/Trusted_4.svg" alt="">
    </div>
    <div class="Trusted_image">
      <img src="../../assets/image/Trusted_5.svg" alt="">
    </div>
    <div class="Trusted_image">
      <img src="../../assets/image/Trusted_6.svg" alt="">
    </div>


  </div>
</div>
