<div class="feature_topics_perant">
  <h1>Featured topics by category</h1>
  <div class="feature_topics_conainer">
    <div class="feature_topics_box">
      <h2>Development</h2>
      <div class="feature_topics_box_content">
        <p>Python</p>
        <span>36,354,994 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Web Development</p>
        <span>11,415,615 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Machine Learning</p>
        <span>7,070,015 students</span>
      </div>

    </div>
    <div class="feature_topics_box">
      <h2>Business
      </h2>
      <div class="feature_topics_box_content">
        <p>Financial Analysis</p>
        <span>1,195,282 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>SQL</p>
        <span>5,977,561 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>PMP</p>
        <span>1,733,398 students</span>
      </div>

    </div>
    <div class="feature_topics_box">
      <h2>IT and Software</h2>
      <div class="feature_topics_box_content">
        <p>Amazon AWS</p>
        <span>6,123,456 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Ethical Hacking</p>
        <span>10,931,066 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Cyber Security</p>
        <span>3,998,037 students</span>
      </div>

    </div>
    <div class="feature_topics_box">
      <h2>Design</h2>
      <div class="feature_topics_box_content">
        <p>Photoshop</p>
        <span>10,909,736 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Graphic Design</p>
        <span>3,381,052 students</span>
      </div>
      <div class="feature_topics_box_content">
        <p>Drawing</p>
        <span>2,410,849 students</span>
      </div>

    </div>
  </div>
  <button class="btn">Explore more topics</button>
</div>
